@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200;300;400;500;600&family=Roboto:wght@100;300;400&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(30, 30, 30);
}

.container {
  border-radius: 25px;
  margin-top: 5px;
  background: linear-gradient(
          112.1deg,
          rgb(32, 38, 57) 11.4%,
          rgb(63, 76, 119) 70.2%
  );
  /*TODO LIGHT THEME*/
  /*background: linear-gradient(48deg, rgb(243, 187, 143), rgb(252, 242, 205) 56%);*/

  color: white;
  padding: 0;
  max-width: 900px;
}

header {
  padding: 10px 60px 5px 30px;
  background-color: rgba(0, 0, 0, 0.2);
  border-bottom: rgba(0, 0, 0, 0.4) 1px solid;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  justify-content: space-between;
}

h1 {
  display: inline-block;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 100;
}

.today__current-time {
  font-size: 30px;
}
.top-bar {
  justify-content: space-between;
  align-content: center;
}

.weather-location {
   font-family: "Montserrat Alternates", sans-serif;
   font-size: 2rem;
   display: inline;
 }
.search-bar {
  display: inline;
}

.change-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: rgba(255, 255, 255, 0.1);
}

.round-button {
  border-color: #a04dff;
  background: -webkit-linear-gradient(#9c47fc, #356ad2);
  -webkit-background-clip: border-box;
  -webkit-text-fill-color: white;
  box-sizing: content-box;
  padding: 0;
}

.round-button i {
  width: 35px;
  margin: 7px;
}
i.fa-exchange-alt {
  margin-top: 0;
}

.app-container {
  margin: 10px auto;
  padding: 0 40px;
}

.button-degree-sign {
  font-weight: bold;
}

.today__weather-icon {
  width: 80px;
  height: 80px;
  display: inline-block;
  text-align: center;
  font-size: 70px;
}

.today__weather-icon i {
  vertical-align: text-top;
  color: gold;
}

.today__current-temp {
  display: inline-block;
  text-align: center;
  margin-left: 25px;
  font-size: 60px;
}

.today__current-temp span {
  vertical-align: text-bottom;
}


.today__max-temp, .today__min-temp, .current-humidity, .current-wind-speed {
  font-size: 25px;
  margin: 10px;
}

footer {
  background-color: rgba(0, 0, 0, 0.2);
  border-top: rgba(0, 0, 0, 0.4) 1px solid;
  padding: 5px 10px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

/* ------DEV------ */
.icon-sheet i {
  font-size: 50px;
}

.icon-sheet .fas,.icon-sheet .fab,.icon-sheet .far {
  color: white;

  background: -webkit-linear-gradient(#9c47fc, #356ad2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon-test {
  width: 100px;
  color: white;
}